<template name="add_marker">

        <div class="row">
            <div class="col-lg-4">
                <h2>How to create marker</h2>
                <ul>
                    <li>Click map once to create marker</li>
                    <li>Double Click maker to delete it</li>
                    <li>Click and hold on marker to updates its position</li>
                </ul>


            </div>

            <div class="col-lg-8">

                <div class="map">
                    {{> map}}
                </div>

                </div>

        </div>

</template>







