<template name="header">

    <header>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <!--{{#each HeaderConfig}}-->
                <!--<h1 class="logo"><img src= "{{headerImage}}"/> <span class="name">{{headerTitle}}</span></h1>-->
                <!--<h1 class="primary">{{headerSubTitle}}</h1>-->
                <!--<p class="subtext">{{headerSubText}}</p>-->
                <!--{{/each}}-->


                    <h1 class="logo"><a href="/"><img src= "../img/logo.png"/></a> <span class="name">Doolys</span></h1>
                    <h1 class="primary">Fresh Fish & Chips</h1>
                    <p class="subtext">Fresh Food.. Unbeatable Prices</p>

            </div>
        </div>
    </header>

</template>