
<template name="menu">




                    {{#each MenuItems}}
                    <div class="col-md-4">
                     <div class ="thumbnail">
                        <img src="{{menuImage}}">
                        <h3>{{name}}</h3>
                        <p class ="pull-right"><h4>{{price}}</h4></p>
                        <p>{{description}}</p>

                     </div>
                    </div>
                    {{else}}

                     <p>There are no menu items</p>

                    {{/each}}




</template>