<template name="promotion">



                {{#each Promotions}}
                    <div class="col-md-4">
                        <div class ="thumbnail">
                            <img class="edit-image" src="{{promotionImage}}">
                            <h3>{{promotionName}}</h3>
                            <p class ="pull-right"><h4>{{promotionPrice}}</h4></p>
                            <p>{{formatrpormo createdAt}}</p>
                        </div>
                    </div>
                {{else}}

                    <p>There are no promotions</p>

                {{/each}}




</template>