<template name="list_menu">


		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Menu Items</h2>
				<a href="/admin/menu/add" class="btn btn-success btn-tiny">Create Menu Item</a>
				<br><br>
                <table class="table table-striped">
                	<tr>
                		<th>Menu Item</th>
                		<th>Price</th>
                		<th>Description</th>
                		<!-- <th>Image</th> -->
                	</tr>
                    {{#each MenuItems}}
                    <tr>
                    	<td>{{name}}</td>
                    	<td>{{price}}</td>
                    	<td>{{description}}</td>
                    	<!-- <td>{{image}}</td> -->
                         <td><a href="/admin/menu/{{_id}}/edit" class="btn btn-primary btn-tiny">Edit</a><button class="btn btn-danger delete_menu">
                         	Delete</button>
                         </td>
                    </tr>
                     {{else}}
                    <tr>
                    	<td>No Menu Items</td>
                    </tr>
                    {{/each}}
                </table>
			</div>
		</div>



</template>