<template name="voucher">

    <div class ="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Customer Reward Points</h3>

            <!--<table class="table">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Username</th>-->
                        <!--<th>Email</th>-->
                        <!--<th>Points</th>-->
                        <!--<th>Picker</th>-->
                        <!--<th>Button</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                        <!--<tbody>-->
                        <!--{{#each userData}}-->
                        <!--<tr>-->
                                <!--<td class ="user {{selectedUser}}">{{profile.name}}</td>-->
                            <!--{{# if registered_emails}}-->
                                 <!--<td>{{registered_emails.[0].address}}</td>-->
                               <!--{{else}}-->
                                <!--<td>N/A</td>-->
                            <!--{{/if}}-->

                            <!--{{#if points}}-->
                                <!--<td>{{points}}</td>-->
                            <!--{{else}}-->
                                <!--<td>0</td>-->
                            <!--{{/if}}-->
                            <!--<td><input type="number" min="0" id="points" name="points"></td>-->

                            <!--<td><input type="button" id="confirm" class="btn btn-primary btn-tiny" value="+/- Points"></td>-->

                        <!--</tr>-->
                        <!--{{/each}}-->
                        <!--</tbody>-->
            <!--</table>-->
                 {{#each allUsersData}}
            <form class="customer_rewards_form" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{profile.name}}">
                </div>
                <div class="form-group">
                    <label>Registered Email</label>
                      {{# if registered_emails}}
                    <input type="text" class="form-control" id="email" name="email" value="{{registered_emails.[0].address}}">
                          {{else}}
                          <input type="text" class="form-control" id="email" name="email" value="N/A">
                          {{/if}}
                </div>
                <div class="form-group">
                    <label>Points</label>

                    <input type="text" class="form-control" id="points" name="points" min=0 value={{points}}>

                </div>
                <div class="form-group">
                    <label>Picker</label>
                    <input type="number" id="pickerPoints" name="pickerPoints" value=0>
                </div>
                <button type="submit" class="btn btn-primary">+/- Points</button>
            </form>
                 {{/each}}
        </div>
    </div>

</template>

